/*reset basico*/
* {
    box-sizing: border-box; margin: 0; padding: 0;
}

/*estilo base de las paginas*/
body {
    background-color: #FFF9F2;
    color: #FFF9F2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
}

header {
    background-color: #003247;
    padding: 20px;
    text-align: center;
    margin: 30px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #aec1c7;
}

.logo img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #aec1c7 ;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #FFF9F2;
}

main {
    padding: 20px;
}

section {
    background-color: #3f6e7d ;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h2, h3, p {
    color: #FFF9F2;
}

/*estilo de cada pagina en particular*/


/* Lista de navegación interna */
ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: #10355f; /* Azul para enlaces internos */
    text-decoration: none;
}

ul li a:hover {
    color: #ff5722; /* Naranja para hover */
}

/* Fondo específico para cada sección */
#historia {
    background-color: #e3f2fd; /* Azul muy claro para historia */
}

#valores {
    background-color: #f3e5f5; /* Lila claro para valores */
}

#equipo {
    background-color: #e8f5e8; /* Verde claro para equipo */
}


/* Párrafos y listas */
p, ol, ul {
    line-height: 1.6; /* Mejor legibilidad */
}

/* Footer */
footer {
    background-color: #4a90e2; /* Azul igual al header */
    color: white;
    text-align: center;
    padding: 10px;
}

footer nav a {
    color: white;
    margin: 0 10px;
}

address {
    text-align: center;
    padding: 10px;